.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: px;
    margin: 50px 50px;

}

.cart-container{
    border: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.2);
}